{{define "title"}}
    重置密码
{{end}}
{{define "main"}}
    <h3>goblog 账号密码重置</h3>
    <p><a href="http://192.168.4.22:8088/password/reset?salt={{.Salt}}&email={{.Email}}" target="_blank">点此链接重置密码</a></p>
{{end}}