{{define "article-meta"}}
    <p class="blog-post-meta text-secondary">
      发布于 <a href="{{ .Link }}" class="font-weight-bold">{{ .CreatedAtDate }}</a>
      {{ $user := .User }}
      by <a href="{{$user.Link}}" class="font-weight-bold">{{$user.Name}}</a>
    </p>
{{end}}